flask 
flask_sqlalchemy
sqlalchemy-utils
# In Windows
# pymssql-2.2.2-cp310-cp310-win_amd64.whl

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-sqlalchemy

# py -3 -m venv venv
# pip install -r requirements.txt


# Installare questa libreria
# https://visualstudio.microsoft.com/visual-cpp-build-tools/
# https://www.lfd.uci.edu/~gohlke/pythonlibs/#pyodbc

# https://stackoverflow.com/questions/46405777/connect-docker-python-to-sql-server-with-pyodbc
