<div class="container">
  <h5>Articles page</h5>
  <a class="waves-effect waves-light btn" (click)="createNewArticle()"><i class="material-icons right">add</i>New article</a>
  <hr>
  <div class="row">
    <table class="col s6 striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th class="right-align">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles" class="collection-item" [ngClass]="{'teal lighten-1 white-text' : article === selectedArticle}" (click)="onSelect(article)">
          <td>{{article.id}}</td>
          <td>{{article.name}}</td>
          <td class="right-align">{{article.price | number:'1.2-2'}} €</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="selectedArticle" class="col s6">
      <h6>Article details</h6>
      <div class="input-field">
        <i class="material-icons prefix">qr_code</i>
        <label class="active" for="article-id">ID</label>
        <input id="article-id" value="{{selectedArticle.id}}" type="text" disabled>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">short_text</i>
        <label class="active" for="article-name">Name</label>
        <input id="article-name" [(ngModel)]="selectedArticle.name" type="text" placeholder="name">
      </div>
      <div class="input-field">
        <i class="material-icons prefix">euro</i>
        <label class="active" for="article-price">Price</label>
        <input id="article-price" [(ngModel)]="selectedArticle.price" type="text" placeholder="price">
      </div>
    </div>

    <div *ngIf="newArticle" class="col s6">
      <h6>New Article</h6>
      <div class="input-field">
        <i class="material-icons prefix">qr_code</i>
        <label class="active" for="article-id">ID</label>
        <input id="article-id" [(ngModel)]="newArticle.id" type="text" placeholder="id">
      </div>
      <div class="input-field">
        <i class="material-icons prefix">short_text</i>
        <label class="active" for="article-name">Name</label>
        <input id="article-name" [(ngModel)]="newArticle.name" type="text" placeholder="name">
      </div>
      <div class="input-field">
        <i class="material-icons prefix">euro</i>
        <label class="active" for="article-price">Price</label>
        <input id="article-price" [(ngModel)]="newArticle.price" type="text" placeholder="price">
      </div>
      <a class="left waves-effect waves-light btn red" (click)="closeNewArticle(false)" ><i class="material-icons right">close</i>Cancel</a>
      <a class="right waves-effect waves-light btn" (click)="closeNewArticle(true)" [attr.disabled]="newArticle.name ? null : 'disabled'"><i class="material-icons right">done</i>Confirm</a>
    </div>
  </div>
</div>